* {
	margin: 0;
}
body {
	font-family: 'Anonymous Pro', monospace, sans-serif;
	background-color: #f1f1f1;
}
.container {
/*	width: 90%;*/
	max-width: 1000px;
	margin: auto;
	margin-top: 10px;
	background-color: #f1f1f1;
}
@media screen and (max-width: 600px) {
	.container {
		width: 100%;
	}
	h1,h2 {
		font-size: 20px;
	}
	.logo img {
	width: 80px;
	border-radius: 20px;
	}
	.myimg { 
	width: 100%;
	text-align: center;
	}
	.workdescription h3 {
		font-size: 16px;
	}
	.workdescription li {
		padding-left: 5px;
	}
	.am li {
		font-size: 16px;
	}
	 p {
		font-size: 16px;
	}
	.education-places h4 {
		font-size: 16px;
		color: red;
	}
}
.header {
	display: flex;
}
.img { 
	width: 40%;
	text-align: center;
	/*border: 1px solid black;*/
}
.header img{
	margin: 10px;
	height: 200px;
	border-radius:30px;
	/*border-radius: 50%;*/
}
.name {
	padding-top: 20px;
	width: 60%;
	text-align: center;
	font-size: 24px;
	color: #2a0a5e;
	/*border: 1px solid black;*/
}
.name h1 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.name p {
	margin-bottom: 0;
/*	margin: 0;
*/	/*font-size: 24px;*/
}
.aircraftmaintenance {
	display: flex;
}
.game {
	width: 40%;
	text-align: center;
	font-size: 20px;
	/*border: 1px solid black;*/
	padding-top: 20px;
	color: #2a0a5e;
}
.game h2 {

}
.list h3 {
	margin-top: 10px;
	/*padding-top: 10px;*/
	padding-left: 20px;
	text-align: left;
	color: #2a0a5e;
}
.am {
	width: 60%;
	/*border: 1px solid black;*/
}
.am ul {
	margin-left: 20px;
	margin-top: 10px;
	padding-left: 20px;
	font-size: 24px;
}
.am li {
	padding-bottom: 5px;
	font-weight: bold;
	color: #777;
}
.main {
	display: flex;
}
.skills {
	width: 40%;
	padding-top: 20px;
	/*background-color: #7c2ae8 #00c4cc;*/
	background-color: #2a87cd;
	color: white;
	/*border: solid black 1px;*/
/*	line-height: 20px;*/
	line-height: 150%;
}
.skills li {
	font-size: 20px;
	font-weight: normal;
}
.skills h3 {
	padding-top: 10px;
	padding-bottom: 20px;
}
.hardskills h3 {
	padding-top: 0;
	padding-bottom: 5px;
	margin-left: 20px;
	margin-right: 20px;
	border-bottom: 3px solid white;
}
.hardskills li {
	padding-right: 20px;
	padding-top: 10px;
}
.softskills h3 {
	padding-top: 20px;
	padding-bottom: 5px;
	margin-left: 20px;
	margin-right: 20px;
	border-bottom: 3px solid white;
}
.softskills li {
	padding-right: 20px;
	padding-top: 10px;
}
.contactinformation h3 {
	padding-top: 20px;
	padding-bottom: 5px;
	margin-left: 20px;
	margin-right: 20px;
	border-bottom: 3px solid white;
}
.ci {
	margin-top: 40px;
	margin-bottom: 20px;
	width: 100%;
	font-weight: normal;
}
.ci a:hover {
	color: yellow;
}
.phone {
	text-align: center;
	font-size: 24px;
	margin-top: 40px;
}
.phone a {
	text-decoration: none;
	color: inherit;
}
.location {
	text-align: center;
	font-size: 24px;
	margin-top: 40px;
}
.location a {
	text-decoration: none;
	color: inherit;
}
.email {
	text-align: center;
	font-size: 24px;
	margin-top: 40px;
}
.email a {
	text-decoration: none;
	color: inherit;
}
.workexperience {
	width:60%;
/*	float: right;*/
	/*border: solid black 1px;*/
}
.card {
	border-radius: 20px;
	margin-bottom: 10px;
/*	border: 1px solid black;*/
	padding-right: 5px;
}
.workdescription h3 {
	padding-top: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #474444;
}
.workdescription li {
	font-size: 20px;
	font-family: anonymous;
	font-weight: bold;
	color: #777;

}
.azurair {
	display: flex;
}
.card-logo {
	margin-top: 10px;
	margin-left: 10px;
	width: 200px;
	border-radius: 20px;
}
.logo h3 {
	margin-top: 15px;
	padding-left: 40px;
	padding-right: 10px;
	font-size: 24px;
	text-align: left;
}
.logo p {
	font-size: 24px;
	text-align: center;
	margin: 0;
}
.tca h3 {
	margin-top: 5px;
}
.workdescription {
	float: right;
	margin-left: 5px;
}
.tca {
	display: flex;
}
.utair {
	display: flex;
}
.utair img {
	margin-top: 10px;
}
.utair h2,h3 {
	margin: 0;
	text-align: center;
	font-size: 24px;
}
.aerosvit {
	display: flex;
}
.aerosvit img {
	margin-top: 10px;
	margin-bottom: 30px;
}
.aerosvit h2,h3 {
	margin: 0;
	text-align: center;
	font-size: 24px;
}
.education-word h3 {
	text-align: left;
	padding-left: 10px;
	margin: 0 10px;
	color: #2a0a5e;
	border-bottom: 2px solid black;
}
.education-places {
	display: flex;
	/*border: 1px solid black;*/
	color: #474444;
}
.tritech-logo {
	/*width: 200px;*/
	width: 100%;
	margin-top: 10px;
	margin-bottom: 25px;
}
.education h3 {
	/*margin-left: 20%;*/
}
.tritech {
	width: 30%;
	/*border-right: 2px solid black;
	border-radius: 20px;
	background-color: greenyellow;*/
}
.tritech h4 {
	padding-left: 5px;
	margin-bottom: 10px;
}
.nau {
	/*display: flex;*/
	width: 40%;
	text-align: center;
/*	border-right: 2px solid black;
	border-radius: 20px;
	background-color: greenyellow;*/
}
.nau-logo {
	/*width: 200px;*/
	width: 35%;
	margin-top: 5px;
}
.nau h4 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.satk {
	width: 30%;
/*	border-right: 2px solid black;
	border-radius: 20px;
	background-color: greenyellow;
*/}
.satk p {
	padding-top: 60px;
	text-align: center;
	font-size: 20px;
}
.satk h4 {
	margin: auto auto;
	padding: 0 5px;
}
h4 {
	text-align: center;
	font-size: 20px;
}
.major {
	font-size: 18px;
}
span {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}