* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", monospace, sans-serif;
  background-color: #f1f1f1;
}
.container {
  max-width: 1100px;
  margin: auto;
  margin-top: 40px;
  background-color: #f1f1f1;
  border: 2px solid rgb(30, 36, 43);
  border-radius: 20px;
  overflow: hidden;
}

.header {
  position: relative;
  max-width: 1100px;
  height: 240px;
  /* background-color: #1e242b; */
  background-color: rgb(30, 36, 43);
}

.title-wrap {
  width: 700px;
  height: 240px;
  position: absolute;
  top: 0;
  right: 0;
}

.header img {
  position: absolute;
  left: 60px;
  top: 33px;
  margin: 10px;
  height: 260px;
  border: 5px solid white;
  border-radius: 50%;
}

.title-wrap h2 {
  padding-top: 40px;
  padding-bottom: 16px;
  text-align: center;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 48px;
  font-weight: lighter;
  font-style: italic;
}

.title-wrap h1 {
  text-align: center;
  padding-bottom: 16px;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 38px;
  font-weight: lighter;
  font-style: italic;
}

.title-wrap h3 {
  text-align: center;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 28px;
  font-weight: lighter;
  font-style: italic;
}

.main {
  display: flex;
}

.skills-wrap {
  max-width: 400px;
}

.contactinformation {
  margin-top: 90px;
  margin-bottom: 20px;
}

h4 {
  display: block;
  margin-bottom: 5px;
  font-family: "Lato", sans-serif;
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
}

.line {
  margin-left: 0px;
  margin-bottom: 10px;
  width: 240px;
  border: 2px solid black;
}

.marg {
  margin-left: 40px;
}

.contactinformation a {
  display: block;
  margin-left: 20px;
  margin-bottom: 5px;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  text-decoration: none;
  color: rgb(30, 36, 43);
}

.skills-card {
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 5px;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  text-decoration: none;
  color: rgb(30, 36, 43);
  text-align: left;
}

.divider {
  margin-top: 80px;
  margin-left: 18px;
  margin-right: 18px;
  height: 1270px;
  border: 1px solid black;
}

.drive-license {
  margin-top: 60px;
  margin-bottom: 100px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 900;
  font-style: italic;
  color: rgb(30, 36, 43);
  text-align: right;
  text-transform: uppercase;
}

.workexperience-wrap {
  margin-top: 40px;
}
.aboutme {
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  text-decoration: none;
  color: rgb(30, 36, 43);
  text-align: left;
}
span {
  font-weight: 900;
  text-transform: uppercase;
}

.type-ratings {
  margin-left: 10px;
  margin-bottom: 20px;
}

.type-list {
  margin-left: 60px;
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-size: 28px;
  font-weight: 500;
  font-style: italic;
  text-decoration: none;
  color: rgb(30, 36, 43);
  text-align: left;
}
.magenta {
  color: blueviolet;
}
.workexperience {
  margin-left: 10px;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  text-decoration: none;
  color: rgb(30, 36, 43);
  text-align: left;
}

.work-wrap {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}

.title-font {
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
  text-decoration: none;
  color: rgb(30, 36, 43);
  text-align: left;
}
h5 {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 600;
  font-style: italic;
  text-decoration: none;
  color: rgb(30, 36, 43);
}

.position-actions {
  margin: 20px;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  text-decoration: none;
  color: rgb(30, 36, 43);
  text-align: left;
}

.spacer {
  height: 40px;
}
